@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-slate-50 text-gray-900 dark:bg-dark-900 dark:text-white transition-colors duration-300;
  font-family: 'Inter', sans-serif;
}
